<div id="<%= dom_id slot %>">
      <h5 class="card-title">Date: <%= slot.start_time.strftime("%m/%d/%Y") %></h5>
      <p class="card-text">Time: <%= slot.start_time.strftime("%I:%M%p") %></p>
</div>

