<h1 class="my-1">Confirm Meeting Details</h1>

<p class="mt-4">If a match is found, your meeting details will be:   </p>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Date: <%= @meeting_starts_at.strftime("%m/%d/%Y, %A") %></h5>
    <h6 class="card-text text-muted">Starts at: <%= @meeting_starts_at.strftime("%I:%M %p") %></h6>
    <p class="card-text">Duration: 1 hr</p>
    <%= link_to "Search for a match", search_date_path(start_time: @meeting_starts_at, first_user: @meeting_first_user), method: :get, class: "btn btn-success"  %>
  </div>
</div>


<br>

<div>
  <%= link_to "Back to slots", slots_path, class: "card-link link-secondary"  %>
</div>
